#memoryInfo {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.progress {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: green;
  transition: width 0.3s ease;
}
body {
  font-family: "Segoe UI", sans-serif;
  padding: 15px;
  background-color: #f9f9f9;
  width: 280px;
}

h2 {
  color: #333;
  text-align: center;
}

button {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

#tabList {
  margin-top: 15px;
}

#tabList p {
  font-size: 14px;
  margin: 0;
}

#tabList button {
  margin-top: 3px;
  padding: 4px 6px;
  font-size: 12px;
}
